<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>eurucamp style guides</title>
  </head>
  <body>
    <h2><a href="https://github.com/eurucamp/livingstyleguide-eurucamp/">eurucamp/livingstyleguide-eurucamp</a></h2>
    <ul>
      <% for year in years.sort.reverse %>
        <li><a href="<%= year %>/">Latest version for <%= year %></a></li>
      <% end %>
    </ul>
    <dl>
      <% for build in builds.reverse %>
        <dt><a href="<%= build["commit"] %>/"><strong><%= build["branch"] %>:</strong> <%= build["commit"] %></a></dt>
        <dd><strong><%= build["message"] %></strong><br><%= build["author"] %> (<%= build["time"] %>)</dd>
      <% end %>
    </dl>
  </body>
</html>
